<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>lastUpdated</key>
		<date>2017-02-17T00:00:00Z</date>
	</dict>
	<key>sessions</key>
	<dict>
		<key>lunch0</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-03-30T16:00:00Z</date>
			<key>duration</key>
			<integer>90</integer>
			<key>trackId</key>
			<integer>4</integer>
			<key>column</key>
			<integer>1</integer>
			<key>sessionNumber</key>
			<string></string>
			<key>title</key>
			<string>Lunch</string>
			<key>sessionDescription</key>
			<string>Grab a bite to eat and get ready for the second half of your workshop.</string>
			<key>presenters</key>
			<array/>
			<key>roomId</key>
			<integer>7</integer>
		</dict>
		<key>ws1p1</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-03-30T13:00:00Z</date>
			<key>duration</key>
			<integer>180</integer>
			<key>trackId</key>
			<integer>5</integer>
			<key>column</key>
			<integer>1</integer>
			<key>sessionNumber</key>
			<string>WS1</string>
			<key>title</key>
			<string>Advanced Debugging  &amp; Reverse Engineering</string>
			<key>sessionDescription</key>
			<string>Learn to wield the power of LLDB and other debugging tools while exploring code you do(n\’t)? have source for. Create powerful, custom debugging scripts to quickly hunt down any item that piques your interest.</string>
			<key>presenters</key>
			<array>
				<string>derek</string>
			</array>
			<key>roomId</key>
			<integer>4</integer>
		</dict>
		<key>ws1p2</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-03-30T17:30:00Z</date>
			<key>duration</key>
			<integer>210</integer>
			<key>trackId</key>
			<integer>5</integer>
			<key>column</key>
			<integer>1</integer>
			<key>sessionNumber</key>
			<string>WS1</string>
			<key>title</key>
			<string>Advanced Debugging  &amp; Reverse Engineering</string>
			<key>sessionDescription</key>
			<string>Learn to wield the power of LLDB and other debugging tools while exploring code you do(n\’t)? have source for. Create powerful, custom debugging scripts to quickly hunt down any item that piques your interest.</string>
			<key>presenters</key>
			<array>
				<string>derek</string>
			</array>
			<key>roomId</key>
			<integer>4</integer>
		</dict>
		<key>ws2p1</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-03-30T13:00:00Z</date>
			<key>duration</key>
			<integer>180</integer>
			<key>trackId</key>
			<integer>5</integer>
			<key>column</key>
			<integer>2</integer>
			<key>sessionNumber</key>
			<string>WS2</string>
			<key>title</key>
			<string>Advanced App Architecture</string>
			<key>sessionDescription</key>
			<string>Thoughtful design of the boundaries between your apps subsystems is the foundation of a stable codebase. In this workshop, we cover how to create a well designed boundary between subsystems, dependency injection, use case driven development, creating injectable subsystems, and using state management to result in a clean architecture for your apps.</string>
			<key>presenters</key>
			<array>
				<string>josh*</string>
				<string>rene</string>
			</array>
			<key>roomId</key>
			<integer>5</integer>
		</dict>
		<key>ws2p2</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-03-30T17:30:00Z</date>
			<key>duration</key>
			<integer>210</integer>
			<key>trackId</key>
			<integer>5</integer>
			<key>column</key>
			<integer>2</integer>
			<key>sessionNumber</key>
			<string>WS2</string>
			<key>title</key>
			<string>Advanced App Architecture</string>
			<key>sessionDescription</key>
			<string>Thoughtful design of the boundaries between your apps subsystems is the foundation of a stable codebase. In this workshop, we cover how to create a well designed boundary between subsystems, dependency injection, use case driven development, creating injectable subsystems, and using state management to result in a clean architecture for your apps.</string>
			<key>presenters</key>
			<array>
				<string>josh*</string>
				<string>rene</string>
			</array>
			<key>roomId</key>
			<integer>5</integer>
		</dict>
		<key>reception</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-03-30T22:00:00Z</date>
			<key>duration</key>
			<integer>120</integer>
			<key>trackId</key>
			<integer>3</integer>
			<key>column</key>
			<integer>0</integer>
			<key>sessionNumber</key>
			<string></string>
			<key>title</key>
			<string>Opening Reception (optional)</string>
			<key>sessionDescription</key>
			<string>Everyone’s invited! Come meet the team and get to know your fellow conference attendees.</string>
			<key>presenters</key>
			<array/>
			<key>roomId</key>
			<integer>0</integer>
		</dict>
		<key>party</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-03-31T22:00:00Z</date>
			<key>duration</key>
			<integer>240</integer>
			<key>trackId</key>
			<integer>3</integer>
			<key>column</key>
			<integer>0</integer>
			<key>sessionNumber</key>
			<string></string>
			<key>title</key>
			<string>Party!</string>
			<key>sessionDescription</key>
			<string>Join us at the Carlyle Club, an old-school supper club right across the street from the hotel. There will be delicious food, an open bar, and an awesome stage perfect for the ultimate RWDevCon show: The James Dempsey Game Show! Must be 21 or over.</string>
			<key>presenters</key>
			<array/>
			<key>roomId</key>
			<integer>8</integer>
		</dict>
		<key>keynote</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-03-31T12:00:00Z</date>
			<key>duration</key>
			<integer>45</integer>
			<key>trackId</key>
			<integer>0</integer>
			<key>column</key>
			<integer>0</integer>
			<key>sessionNumber</key>
			<string></string>
			<key>title</key>
			<string>Opening Remarks</string>
			<key>sessionDescription</key>
			<string>Ray and Vicki will kick things off and talk about what we&apos;re all doing here.</string>
			<key>presenters</key>
			<array>
				<string>ray</string>
				<string>vicki</string>
			</array>
			<key>roomId</key>
			<integer>7</integer>
		</dict>
		<key>lunch1</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-03-31T16:15:00Z</date>
			<key>duration</key>
			<integer>60</integer>
			<key>trackId</key>
			<integer>4</integer>
			<key>column</key>
			<integer>1</integer>
			<key>sessionNumber</key>
			<string></string>
			<key>title</key>
			<string>Lunch &amp; Board Games</string>
			<key>sessionDescription</key>
			<string>Grab a bite to eat and get ready for the afternoon sessions.</string>
			<key>presenters</key>
			<array/>
			<key>roomId</key>
			<integer>7</integer>
		</dict>
		<key>lunch2</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-04-01T15:30:00Z</date>
			<key>duration</key>
			<integer>60</integer>
			<key>trackId</key>
			<integer>4</integer>
			<key>column</key>
			<integer>1</integer>
			<key>sessionNumber</key>
			<string></string>
			<key>title</key>
			<string>Lunch &amp; Board Games</string>
			<key>sessionDescription</key>
			<string>Grab a bite to eat and get ready for the afternoon sessions.</string>
			<key>presenters</key>
			<array/>
			<key>roomId</key>
			<integer>7</integer>
		</dict>
		<key>closing</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-04-01T21:30:00Z</date>
			<key>duration</key>
			<integer>30</integer>
			<key>trackId</key>
			<integer>0</integer>
			<key>column</key>
			<integer>0</integer>
			<key>sessionNumber</key>
			<string></string>
			<key>title</key>
			<string>Closing Remarks</string>
			<key>sessionDescription</key>
			<string>RWDevCon has a special event at the end of the conference you won’t want to miss, so make sure you stay till the end... or don’t cry to us later! :P</string>
			<key>presenters</key>
			<array>
				<string>ray</string>
			</array>
			<key>roomId</key>
			<integer>7</integer>
		</dict>
		<key>closing-reception</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-04-01T22:00:00Z</date>
			<key>duration</key>
			<integer>60</integer>
			<key>trackId</key>
			<integer>0</integer>
			<key>column</key>
			<integer>0</integer>
			<key>sessionNumber</key>
			<string></string>
			<key>title</key>
			<string>Closing Reception</string>
			<key>sessionDescription</key>
			<string>It’s so hard to say goodbye. We ease the pain with one last hour to mix and mingle with the speakers and the new friends you’ve met!</string>
			<key>presenters</key>
			<array/>
			<key>roomId</key>
			<integer>7</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-03-31T14:00:00Z</date>
			<key>duration</key>
			<integer>90</integer>
			<key>trackId</key>
			<integer>0</integer>
			<key>column</key>
			<integer>1</integer>
			<key>sessionNumber</key>
			<string>1</string>
			<key>title</key>
			<string>Advanced Core Data</string>
			<key>sessionDescription</key>
			<string>Core Data has many advanced features which can make development of complex apps easier while increasing performance. During this talk Matt will show how to take advantage of some of the advanced features of Core Data such as background fetching and child contexts.</string>
			<key>presenters</key>
			<array>
				<string>matt</string>
			</array>
			<key>roomId</key>
			<integer>4</integer>
		</dict>
		<key>1lab</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-03-31T15:45:00Z</date>
			<key>duration</key>
			<integer>90</integer>
			<key>trackId</key>
			<integer>2</integer>
			<key>column</key>
			<integer>1</integer>
			<key>sessionNumber</key>
			<string>1</string>
			<key>title</key>
			<string>Lab: Advanced Core Data</string>
			<key>sessionDescription</key>
			<string>Core Data has many advanced features which can make development of complex apps easier while increasing performance. During this talk Matt will show how to take advantage of some of the advanced features of Core Data such as background fetching and child contexts.</string>
			<key>presenters</key>
			<array>
				<string>matt</string>
			</array>
			<key>roomId</key>
			<integer>9</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-03-31T14:00:00Z</date>
			<key>duration</key>
			<integer>90</integer>
			<key>trackId</key>
			<integer>0</integer>
			<key>column</key>
			<integer>2</integer>
			<key>sessionNumber</key>
			<string>2</string>
			<key>title</key>
			<string>Advanced Auto Layout</string>
			<key>sessionDescription</key>
			<string>Learn how you can use some of Auto Layout’s more advanced features to your advantage while designing complex, dynamic views.</string>
			<key>presenters</key>
			<array>
				<string>scott</string>
			</array>
			<key>roomId</key>
			<integer>5</integer>
		</dict>
		<key>2lab</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-03-31T15:45:00Z</date>
			<key>duration</key>
			<integer>90</integer>
			<key>trackId</key>
			<integer>2</integer>
			<key>column</key>
			<integer>2</integer>
			<key>sessionNumber</key>
			<string>2</string>
			<key>title</key>
			<string>Lab: Advanced Auto Layout</string>
			<key>sessionDescription</key>
			<string>Learn how you can use some of Auto Layout’s more advanced features to your advantage while designing complex, dynamic views.</string>
			<key>presenters</key>
			<array>
				<string>scott</string>
			</array>
			<key>roomId</key>
			<integer>1</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-03-31T14:00:00Z</date>
			<key>duration</key>
			<integer>90</integer>
			<key>trackId</key>
			<integer>0</integer>
			<key>column</key>
			<integer>3</integer>
			<key>sessionNumber</key>
			<string>3</string>
			<key>title</key>
			<string>Machine Learning on iOS</string>
			<key>sessionDescription</key>
			<string>Machine Learning. Convolutional Neural Networks. Deep Learning Neural Networks.
What is all the hype about? What are these technologies, what are they good for, and can we use them for anything useful right now? This session requires no background in any of these areas, and will introduce you to machine learning on iOS with a worked example.</string>
			<key>presenters</key>
			<array>
				<string>alexis</string>
			</array>
			<key>roomId</key>
			<integer>6</integer>
		</dict>
		<key>3lab</key>
		<dict>
			<key>active</key>
			<true/>
			<key>date</key>
			<date>2017-03-31T15:45:00Z</date>
			<key>duration</key>
			<integer>90</integer>
			<key>trackId</key>
			<integer>0</integer>
			<key>column</key>
			<integer>3</integer>
			<key>sessionNumber</key>
			<string>3</string>
			<key>title</key>
			<string>Machine Learning on iOS</string>
			<key>sessionDescription</key>
			<string>Machine Learning. Convolutional Neural Networks. Deep Learning Neural Networks.
What is all the hype about? What are these technologies, what are they good for, and can we use them for anything useful right now? This session requires no background in any of these areas, and will introduce you to machine learning on iOS with a worked example.</string>
			<key>presenters</key>
			<array>
				<string>alexis</string>
			</array>
			<key>roomId</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>people</key>
	<dict>
		<key>adrian</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Adrian</string>
			<key>last</key>
			<string>Strahan</string>
			<key>twitter</key>
			<string>adrianstrahan</string>
			<key>bio</key>
			<string>Adrian is a freelance iOS developer and Project Manager living in the South West of England. He&apos;s worked on iPhone and iPad apps since 2010 (iOS3) and specializes in mobile- and web-based application development.</string>
		</dict>
		<key>alexis</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Alexis</string>
			<key>last</key>
			<string>Gallagher</string>
			<key>twitter</key>
			<string>alexisgallagher</string>
			<key>bio</key>
			<string>Alexis Gallagher has been failing to tear himself away from computers for over a dozen years, including tours in e-commerce firms in New York, in scientific research in Oxford, in front-office trading systems in London, and now via iOS in a pocket or corporate briefing room near you. After years breathing the thin airs of abstraction, he is a sucker for beauty and loves how iOS lets you work on ideas you can touch.</string>
		</dict>
		<key>ash*</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Ash</string>
			<key>last</key>
			<string>Furrow</string>
			<key>twitter</key>
			<string>ashfurrow</string>
			<key>bio</key>
			<string></string>
		</dict>
		<key>audrey</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Audrey</string>
			<key>last</key>
			<string>Tam</string>
			<key>twitter</key>
			<string>mataharimau</string>
			<key>bio</key>
			<string>Audrey Tam retired at the end of 2012 from a 25-year career as a computer science academic. Her teaching included Pascal, C/C++, Java, Java web services, web app development in php and mysql, user interface design and evaluation, and iOS programming. Before moving to Australia, she worked on Fortran and PL/1 simulation software at IBM&apos;s development lab in Silicon Valley.
        
Audrey now teaches short courses in iOS app development to non-programmers, and organizes venues for Melbourne Cocoaheads monthly meetings.</string>
		</dict>
		<key>caroline</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Caroline</string>
			<key>last</key>
			<string>Begbie</string>
			<key>twitter</key>
			<string>carolinebegbie</string>
			<key>bio</key>
			<string>I’m an indie iOS developer. When I’m not developing, I’m playing around with 2D and 3D animation software, or learning Arduino and electronics. In my past I’ve taught the elderly how to use their computers, done marionette shows for pre-schools, and created accounting and stock control systems for mining companies.</string>
		</dict>
		<key>christine</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Christine</string>
			<key>last</key>
			<string>Abernathy</string>
			<key>twitter</key>
			<string>abernathyca</string>
			<key>bio</key>
			<string>Christine is an Engineer on the Developer Advocacy team at Facebook. In this role, she is focused on helping grow the mobile developer ecosystem with emphasis on Android, iOS, and the mobile web. Prior to Facebook, Christine headed up engineering at Mshift, a mobile banking software provider, delivering iPhone apps and mobile browser-based products.</string>
		</dict>
		<key>derek</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Derek</string>
			<key>last</key>
			<string>Selander</string>
			<key>twitter</key>
			<string>lolgrep</string>
			<key>bio</key>
			<string>Derek is an iOS developer currently working at GoDaddy. In his free time, he enjoys surfing, playing classical guitar, and consuming bacon.</string>
		</dict>
		<key>ellen</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Ellen</string>
			<key>last</key>
			<string>Shapiro</string>
			<key>twitter</key>
			<string>designatednerd</string>
			<key>bio</key>
			<string>Ellen Shapiro is a mobile developer in Chicago, Illinois who builds iOS and Android apps for Vokal Interactive, and is working in her spare time to help bring Hum to life. She’s also developed several independent applications through her personal company, Designated Nerd Software.</string>
		</dict>
		<key>eric</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Eric</string>
			<key>last</key>
			<string>Cerney</string>
			<key>twitter</key>
			<string>ecerney</string>
			<key>bio</key>
			<string>Eric is an iOS Software Engineer in San Francisco. After being acquired by Capital One, he likes to spend his days at work hanging out with Samuel L. Jackson and asking everyone &quot;What&apos;s in your wallet?&quot;. Lately his main focus has been with Swift and gaining a deeper knowledge of programming languages at the core.
        
Outside iOS, his interests are tinkering with hardware (Raspberry Pi and Arduino), gaming, exploring San Francisco, and regretting endless Netflix marathons.</string>
		</dict>
		<key>erik</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Erik</string>
			<key>last</key>
			<string>Kerber</string>
			<key>twitter</key>
			<string>erikkerber</string>
			<key>bio</key>
			<string>Erik is an iOS guy from Minneapolis. Currently a Lead iOS developer at Target, and an independent consultant at Distilled Bits.
        
Outside of coding, he enjoys cramming as much outdoor activity into summer as he can (running, cycling, rowing, fishing, cabin-ing). In the winter, he patiently waits for summer.</string>
		</dict>
		<key>gemma</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Gemma</string>
			<key>last</key>
			<string>Barlow</string>
			<key>twitter</key>
			<string>gemmakbarlow</string>
			<key>bio</key>
			<string>Gemma has been an iOS Developer since 2009 and loves travel, coffee, wine and code, not necessarily in that order. Originally from Melbourne, Australia, she currently calls New York home. </string>
		</dict>
		<key>jack</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Jack</string>
			<key>last</key>
			<string>Wu</string>
			<key>twitter</key>
			<string>JackTripleU</string>
			<key>bio</key>
			<string>Jack is the lead mobile developer at ModiFace. He has built dozens of iOS apps and enjoys it very much. Outside of work, Jack enjoys coding on the beach, coding by the pool, and sometimes just having a quick code in the park.</string>
		</dict>
		<key>jake</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Jake</string>
			<key>last</key>
			<string>Gunderson</string>
			<key>twitter</key>
			<string>fattjake</string>
			<key>bio</key>
			<string>Jacob is an indie game developer and runs the Indie Ambitions blog. Check out his latest app - Factor Samurai! </string>
		</dict>
		<key>james</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>James</string>
			<key>last</key>
			<string>Dempsey</string>
			<key>twitter</key>
			<string>jamesdempsey</string>
			<key>bio</key>
			<string></string>
		</dict>
		<key>jawwad</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Jawwad</string>
			<key>last</key>
			<string>Ahmad</string>
			<key>twitter</key>
			<string>Jawwad is a freelance iOS Developer that dove into Swift head first and has not looked back. He enjoys mentoring and teaching and was the founder of the of the NYC iOS Study Group and later on the Atlanta iOS Study Group. He&apos;s worked for companies as large as The New York Times, and as small as GateGuru, a 6 person startup.</string>
			<key>bio</key>
			<string>jawwadahmad</string>
		</dict>
		<key>josh*</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Josh</string>
			<key>last</key>
			<string>Berlin</string>
			<key>twitter</key>
			<string></string>
			<key>bio</key>
			<string></string>
		</dict>
		<key>joshua</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Joshua</string>
			<key>last</key>
			<string>Greene</string>
			<key>twitter</key>
			<string>jrg_developer</string>
			<key>bio</key>
			<string>Joshua Greene is a senior iOS developer and advocate for clean code. When he&apos;s not slinging code, he enjoys martial arts, Netflix, and spending time with his wonderful wife and daughter.</string>
		</dict>
		<key>kishin</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Kishin</string>
			<key>last</key>
			<string>Manglani</string>
			<key>twitter</key>
			<string>kishinmanglani</string>
			<key>bio</key>
			<string>Kishin has extensive experience building apps. He works as a freelance developer. Some of the more notable clients he&apos;s worked with are Cover, Venmo, Bustle, and Hatch Labs, which made Tinder. Kishin also teaches all things iOS at General Assembly in New York.</string>
		</dict>
		<key>lea</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Lea</string>
			<key>last</key>
			<string>Marolt Sonnenschein</string>
			<key>twitter</key>
			<string>hellosunschein</string>
			<key>bio</key>
			<string>Lea is an iOS Developer and Designer at Rent the Runway. She writes about iOS, UX and UI, teaches iOS classes at GA and volunteers for Girls Who Code. In her free time she plays piano, and tries to use code and technology to make art. Or she just doodles and listens to MIKA.</string>
		</dict>
		<key>lyndsey</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Lyndsey</string>
			<key>last</key>
			<string>Scott</string>
			<key>twitter</key>
			<string>Lyndsey360</string>
			<key>bio</key>
			<string>Actress, Model, App Developer -- www.LyndseyScott.com</string>
		</dict>
		<key>marin</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Marin</string>
			<key>last</key>
			<string>Todorov</string>
			<key>twitter</key>
			<string>icanzilb</string>
			<key>bio</key>
			<string>Part of: Realm and raywenderlich.com. Author of books and apps. </string>
		</dict>
		<key>matt</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Matt</string>
			<key>last</key>
			<string>Morey</string>
			<key>twitter</key>
			<string>xzolian</string>
			<key>bio</key>
			<string>Matthew Morey is an engineer, developer, hacker, creator, and tinkerer. As an active member of the iOS community and Director of Mobile Engineering at MJD Interactive he has led numerous successful mobile projects worldwide. He’s the creator of Buoy Explorer, a marine conditions app for water sports enthusiast, and Wrist Presenter, an app that lets you control presentations wirelessly with your smart watch. When not developing apps he enjoys traveling, snowboarding, and surfing. He blogs about technology and business at matthewmorey.com.</string>
		</dict>
		<key>mic</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Mic</string>
			<key>last</key>
			<string>Pringle</string>
			<key>twitter</key>
			<string>micpringle</string>
			<key>bio</key>
			<string>Mic Pringle is a developer by trade, but regularly turns his hand to book and tutorial editing, video tutorial making, and hosting the official raywenderlich.com podcast. Mic is 1/6th of Razeware, the team behind raywenderlich.com. An iOS developer by trade, Mic has recently found himself dabbling in Ruby, PHP, and JavaScript.
        
When not knee-deep in code, Mic enjoys spending time with his wife Lucy and their daughter Evie, watching his beloved Fulham FC, and weather permitting, tearing up the English countryside on his Harley Davidson.</string>
		</dict>
		<key>michael</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Michael</string>
			<key>last</key>
			<string>Katz</string>
			<key>twitter</key>
			<string>TheMikeKatz</string>
			<key>bio</key>
			<string>Michael Katz envisions a world where mobile apps always work, respect users’ privacy, and integrate well with their users’ life. When not coding, he can be found with his family playing board games, brewing, gardening, and watching the Yankees.</string>
		</dict>
		<key>ray-f</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Ray</string>
			<key>last</key>
			<string>Fix</string>
			<key>twitter</key>
			<string>rayfix</string>
			<key>bio</key>
			<string>Ray Fix is using Swift to help create Revolve--the next generation in research microscopy at Echo Laboratories. In addition to his role as Swift Team Lead for Ray Wenderlich, he organizes several iOS/Swift meetups around Southern California. Ray is mostly-fluent in spoken and written Japanese and stays healthy by walking, jogging, and playing ultimate frisbee. When he is not doing one of those things, he is writing and dreaming of code in Swift. よろしくお願い致します。</string>
		</dict>
		<key>ray</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Ray</string>
			<key>last</key>
			<string>Wenderlich</string>
			<key>twitter</key>
			<string>rwenderlich</string>
			<key>bio</key>
			<string>Ray is an indie software developer currently focusing on iPhone and iPad development, and the administrator of this site. He’s the founder of a small iPhone development studio called Razeware, and is passionate both about making apps and teaching others the techniques to make them.</string>
		</dict>
		<key>rene</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>René</string>
			<key>last</key>
			<string>Cacheaux</string>
			<key>twitter</key>
			<string>RCachATX</string>
			<key>bio</key>
			<string>René, is an iOS Client Architect at Atlassian, where he is known for his expertise in user interface engineering with UIKit, Core Animation, and Core Graphics. He has been engineering iOS apps since 2009.
        
When he&apos;s not coding, René loves to snow ski, ocean kayak, and root for the Texas Longhorns.</string>
		</dict>
		<key>rich</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Richard</string>
			<key>last</key>
			<string>Turton</string>
			<key>twitter</key>
			<string>richturton</string>
			<key>bio</key>
			<string>Richard is an iOS developer for MartianCraft, prolific Stack Overflow participant and author of a development blog, Command Shift. When he&apos;s not in front of a computer he is usually building Lego horse-powered spaceships (don&apos;t ask!) with his daughter.</string>
		</dict>
		<key>roy</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Roy</string>
			<key>last</key>
			<string>Marmelstein</string>
			<key>twitter</key>
			<string>marmelroy</string>
			<key>bio</key>
			<string>Roy does iOS @ Spotify. He is the creator of too many Swift frameworks - including PhoneNumberKit, Interpolate and Zip.</string>
		</dict>
		<key>ryan</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Ryan</string>
			<key>last</key>
			<string>Ackermann</string>
			<key>twitter</key>
			<string>naturaln0va</string>
			<key>bio</key>
			<string>Ryan Ackermann is an iOS developer on The Bible App. Developing iOS apps and games is his passion. Four of his apps are published on the App Store and more are coming. He has been dancing with Swift since it was announced back in June 2014. When he&apos;s not programming or designing something in Sketch or Photoshop he spends time with his darling wife Jamie.</string>
		</dict>
		<key>sam</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Sam</string>
			<key>last</key>
			<string>Davies</string>
			<key>twitter</key>
			<string>iwantmyrealname</string>
			<key>bio</key>
			<string>Sam is a strange mashup of developer, writer and trainer. By day you&apos;ll find him recording videos for Razeware, writing tutorials, attending conferences and generally being a good guy. By night he&apos;s likely to be out entertaining people, armed with his trombone and killer dance moves.</string>
		</dict>
		<key>scott</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Scott</string>
			<key>last</key>
			<string>Berrevoets</string>
			<key>twitter</key>
			<string>ScottBerrevoets</string>
			<key>bio</key>
			<string>Scott is an iOS developer at Lyft and an avid open source contributor. With libraries like SDCAlertView and SDCAutoLayout, he tries to improve those parts where the iOS SDK falls short. He occasionally blogs at ScottBerrevoets.com and is also active on GitHub and Twitter.</string>
		</dict>
		<key>tammy</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Tammy</string>
			<key>last</key>
			<string>Coron</string>
			<key>twitter</key>
			<string>paradox927</string>
			<key>bio</key>
			<string>Tammy Coron is an artist, a writer, a musician, and a developer. Not too many people get an opportunity to do what they love. She considers herself to be one of the lucky ones! Check out her blog at www.justwritecode.net.</string>
		</dict>
		<key>vicki</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Vicki</string>
			<key>last</key>
			<string>Wenderlich</string>
			<key>twitter</key>
			<string>vwenderlich</string>
			<key>bio</key>
			<string>Vicki Wenderlich discovered a love of digital art in 2009, and has been making app art and digital illustrations ever since. She is passionate about helping people pursue their dreams, and makes free app art for developers available on her website, www.gameartguppy.com.</string>
		</dict>
		<key>zoltan</key>
		<dict>
			<key>active</key>
			<true/>
			<key>first</key>
			<string>Zoltán</string>
			<key>last</key>
			<string>Matók</string>
			<key>twitter</key>
			<string>ZoltanMatok</string>
			<key>bio</key>
			<string>Zoltán is an iOS and OS X developer from Hungary. While he is not working or fiddling with new stuff, he likes to read insightful articles from around the development world. https://medium.com/@quinnnorton </string>
		</dict>
	</dict>
	<key>rooms</key>
	<array>
		<dict>
			<key>name</key>
			<string>Edison Foyer</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Whitney</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Banneker</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Wright</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Edison A/B/C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Edison D</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Edison E/F/G</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Edison A/B/C/D/E/F/G</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Carlyle Club</string>
			<key>roomDescription</key>
			<string>2050 Ballenger Avenue</string>
			<key>mapAddress</key>
			<string>2050 Ballenger Avenue, Alexandria, VA 22314</string>
			<key>mapLatitude</key>
			<real>38.8023769</real>
			<key>mapLongitude</key>
			<real>-77.0628226</real>
			<key>image</key>
			<string>carlyle-club</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bell</string>
		</dict>
	</array>
	<key>tracks</key>
	<array>
		<string>Session</string>
		<string>Inspiration</string>
		<string>Lab</string>
		<string>Fun</string>
		<string>Food</string>
		<string>Workshop</string>
	</array>
</dict>
</plist>
